Django
django-hosts
djangorestframework
gunicorn
pipenv
virtualenv
virtualenv-clone
numpy
Pillow
sklearn
scikit-learn
scipy
django-cors-headers
tensorflow
Keras
Keras-Applications
Keras-Preprocessing
opencv-contrib-python
opencv-python
